.container {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin: 20px 0px;
}

.version {
  display: flex;
  gap: 5px;
  align-items: center;
}

.link {
  background-color: var(--ifm-code-background);
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: var(--ifm-code-border-radius);
  padding: 0px 6px;
  font-family: var(--ifm-font-family-monospace);
  font-size: var(--ifm-code-font-size);
}
